---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import dayjs from "dayjs";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <h1 class="text-3xl">{post.data.title}</h1>
  <p class="text-lg text-gray-500">{post.data.summary}</p>
  <span class="text-gray-500 italic">
    {dayjs(post.data.date).format("MMM DD, YYYY")}
  </span>
  <section class="prose mt-8">
    <Content />
  </section>
</Layout>
