---
import { getCollection } from "astro:content";
import Link from "./Link.astro";
import dayjs from "dayjs";

interface Props {
  limit?: number;
  title?: string;
}

const { limit, title } = Astro.props;
const allBlogPosts = (await getCollection("blog"))
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  )
  .slice(0, limit);
---

<section class="flex flex-col items-start justify-center mt-12">
  <div class="flex flex-col gap-6">
    <div>
      <h2 class="text-xl">{title || "All Blog Posts"}</h2>
    </div>
    <div class="flex flex-col gap-4 md:gap-2">
      {
        allBlogPosts.map((blog) => (
          <div class="flex flex-col md:flex-row md:gap-2">
            <p class="text-gray-500 italic text-sm md:text-base md:min-w-24">
              {dayjs(blog.data.date).format("MMM DD, YYYY")}
            </p>
            <div class="flex-1 gap-2">
              <Link href={`/blog/${blog.id}`}>{blog.data.title}</Link>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
