@import 'constants';

.contact-form {
  label {
    display: flex;
    flex-direction: column;
    margin-top: $scale * 3;
  }

  input,
  textarea {
    border: 1px solid $lightGray;
    border-radius: 4px;
    font-size: 16px;
    height: 50px;
  }

  textarea {
    height: 150px;
  }

  button {
    border-radius: 4px;
    font-size: 16px;
    height: $scale * 5;
    margin-top: $scale * 3;
    width: $scale * 12;

    &:hover {
      background-color: $black;
      color: $white;
      cursor: pointer;
    }
  }
}
