@import 'constants';
@import 'sass/normalize';
@import 'terrarium';

@include normalize;

*, ::after, ::before {
  box-sizing: border-box;
}

h3 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

.flex-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.v2-wrapper {
  background-color: #000;
  background-image: url('https://cdn.scrumptioustab.com/assets/car-under-stars.png');
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: .5rem;
    margin-top: 0;
  }

  a {
    color: #6495ed;

    &:visited {
      color: #6495ed;
    }
  }
}

.v2-above-the-fold {
  align-items: center;
  background: linear-gradient(rgba(18, 18, 18, 0) 80%, rgba(18, 18, 18, 1));
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 36px;
  position: relative;
  width: 100%;
}

.photo-cred {
  bottom: 8px;
  font-size: 12px;
  opacity: .7;
  position: absolute;
}

.v2-social {
  img {
    height: 25px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.v2-content {
  align-items: center;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  padding: 36px;
}

.v2-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  margin-top: 36px;
}

.v2-about-me {
  align-items: center;
  display: flex;
  flex-direction: column;

  p {
    max-width: 500px;
    text-align: center;
  }

  img {
    border-radius: 50%;
    margin-bottom: 36px;
    margin-top: 36px;
    width: 250px;
  }
}


.v2-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 72px;
  margin-top: 72px;
  width: 100%;

  &.with-img {
    flex-direction: column-reverse;
  }

  .v2-project-description-img {
    margin-top: 36px;
    width: 100%;

    img {
      border-radius: 5px;
      max-height: 500px;
      width: 100%;
    }
  }

  .v2-project-description {
    width: 100%;

    .stack {
      color: #6495ed;
    }

    a {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 4px 14px 0 rgba(100, 149, 237, .6);
      color: #000;
      padding: 8px 16px;
      text-decoration: none;

      &:hover {
        box-shadow: 0 4px 14px 0 rgba(100, 149, 237, 1);
      }
    }
  }
}

.v2-articles {
  margin-top: 16px;

  a {
    color: #fff;
    font-size: 20px;
    text-decoration: underline;
  }

  p {
    margin-top: .5rem;
  }
}

@include mdm {
  .v2-project {
    flex-direction: row;

    &.with-img {
      flex-direction: row;
    }

    .v2-project-description-img {
      margin-top: 0;
      width: 45%;
    }

    .v2-project-description {
      width: 45%;
    }
  }
}
