@import 'constants';
@import 'terrarium';

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic';
  margin: 0;
}

h3 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}
