@import 'constants';

nav {
  align-items: center;
  animation: naventer;
  animation-duration: 1s;
  background-color: #333;
  box-shadow: 0 1px 4px -2px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: $scale * 2;

  ul {
    display: none;
  }

  li {
    display: inline;
    margin-left: $scale;
    margin-right: $scale;
  }

  a {
    color: $white;
  }

  h1 {
    margin: 0;

    a {
      text-decoration: none;
    }
  }

  span {
    font-size: 12px;
    position: absolute;
    top: 0;
  }
}

@include smm {
  nav {
    ul {
      display: flex;
    }
  }
}


/* Standard syntax */
@keyframes naventer {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
