@import 'constants';

nav {
  align-items: center;
  box-shadow: 0 1px 4px -2px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: $scale * 2;

  ul {
    display: none;
  }

  li {
    display: inline;
    margin-left: $scale;
    margin-right: $scale;
  }

  a {
    color: black;
  }

  h1 {
    margin: 0;

    a {
      text-decoration: none;
    }
  }
}

@include smm {
  nav ul {
    display: flex;
  }
}
