@import 'constants';

.projects {
  span {
    border-radius: 13px;
    box-shadow: 0 0 1px 1px #999;
    color: #777;
    margin-bottom: $scale;
    margin-right: $scale;
    padding-left: 4px;
    padding-right: 4px;
  }

  .stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}