@import 'constants';

.projects {
  .stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div {
      // border-radius: 13px;
      // box-shadow: 0 0 1px 1px black;
      color: black;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: $scale;
      // padding-left: $scale;
      // padding-right: $scale;
    }

    span {
      font-size: 26px;
      line-height: 22px;
      margin-left: $scale;
      margin-right: $scale;
    }
  }
}