@import 'constants';

.projects {
  .stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div {
      border-radius: 13px;
      box-shadow: 0 0 1px 1px black;
      color: black;
      line-height: 22px;
      margin-bottom: $scale;
      margin-right: $scale;
      padding-left: $scale;
      padding-right: $scale;
    }
  }
}