.terrarium-wrapper {
  display: flex;
  font-size: 18px;
  justify-content: center;
  padding: 30px 60px;

  .terrarium {
    max-width: 700px;
  }

  img {
    max-width: 100%;
  }

  .code-wrapper {
    display: flex;
    justify-content: center;
  }

  .code {
    background-color: #333;
    color: white;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 20px;
  }

  .break {
    display: flex;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .image-update-text {
    color: grey;
    display: flex;
    margin-bottom: 8px;
  }

  .bonus-pics {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin-bottom: 8px;
    margin-top: 8px;

    img {
      width: 150px;
    }

    &.pi img {
      width: 150px;
    }
  }
}

@include smm {
  .terrarium-wrapper {
    .bonus-pics {
      img {
        width: 300px;
      }

      &.pi img {
        width: 200px;
      }
    }
  }
}