.collection-col {
  width: 40%;
  margin: 0 auto;
  min-width: 300px;
  max-height: 300px;
}

.collection-item-wrap {
  border-radius: 12px;
  box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
  min-height: 300px;
  max-height: 300px;

  &.snippet {
    height: 100%;

    pre {
      border-radius: 12px;
      height: 100%;
      display: inline-grid;
      width: 100%;
    }
  }
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 320px;
  height: 480px;
  margin-top: 20px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.loading-animation-wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.loading-animation {
  display: inline-flex;

  span.one {
    margin: 0 auto;
    display: inline;
    box-shadow: 0 0 10px gray;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    animation: myanimation 2s infinite;
  }
}

.cube-animation-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {    
    #cube figure {
      height: 96px;
      width: 96px;
    }
  }

  .container {
    position: relative;
    perspective: 1000px;
    width: 100px;
    height: 100px;
    padding: 0;
  }

  #cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ( -50px );
    animation: rotate 10s infinite;
    
    figure {
      display: block;
      position: absolute;
      width: 100px;
      height: 100px;
      margin: 0;
      display: block;
      position: absolute;
      border: 2px solid black;
      transition:
        height 1s ease-in-out,
        width 1s ease-in-out;
    
      &.front {
        transform: rotateY(   0deg ) translateZ( 50px);
        background-color: rgba(255, 0, 0, .5);
      }
      &.back {
        transform: rotateX( 180deg ) translateZ( 50px );
        background-color: rgba(255, 165, 0, .5);
      }
      
      &.right {
        transform: rotateY( 90deg ) translateZ( 50px );
        background-color: rgba(255, 255, 0, .5);
      }
      
       &.left {
        transform: rotateY( -90deg ) translateZ( 50px );
        background-color: rgba(238,130,238, .5);
      }
      
      &.top {
        transform: rotateX( 90deg ) translateZ( 50px );
        background-color: rgba(0, 128, 0, .5);
      }
      
      &.bottom {
        transform: rotateX( -90deg ) translateZ( 50px );
        background-color: rgba(0, 0, 255, .5);
      }
    }
  }
}


// KeyFrame Animation

@keyframes myanimation {
  0% {
     background: orange;
  }
  50% {
     background-color: white;
    background-image: url(#{var(--img-path)});
     transform: rotateZ(90deg) rotateX(180deg)  rotateY(180deg);
  }
   100% {
     background: orange;
     transform: rotateZ(0) rotateX(0)  rotateY(0);
  }
}

@keyframes rotate {
  16.6666% {
    transform: translateZ( -100px ) rotateY(    0deg );
  }
  33.33333% {
    transform: translateZ( -100px ) rotateX( -180deg );
  }
  50% {
    transform: translateZ( -100px ) rotateY(  -90deg );
  }
  66.6666% {
    transform: translateZ( -100px ) rotateY(   90deg ); 
  }
  83.33333% {
    transform: translateZ( -100px ) rotateX(  -90deg );
  }
  100% {
    transform: translateZ( -100px ) rotateX(   90deg );
  }
}