@import
  'animate',
  'constants',
  'nav',
  'landing-page',
  'collections';

html, body {
  font-family: 'Hind Madurai', sans-serif;
  background-color: $offwhite;
}

.flex-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-content {
  flex: 1 0 auto;
}

.flex-footer {
  flex-shrink: 0;
}

.page-navigation {
  width: 10%;
  a {
    display: block
  }
}

.wrapper {
  padding: 24px;
}