.intro-things {
  margin-top: 40px;
}

.intro-row {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  position: relative;
  height: 200px;

    img {
      max-height: 100%;
      border-radius: 50%;
    }

  .intro-content {
    // padding-left: 50px;
    width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }
  }
}

.intro-content {
  padding-left: 0;

  a {
    font-size: 22px !important;

    &.small-link {
      font-size: 16px !important;
    }
  }

  // ul {
  //   padding: 0;
  // }

  li {
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    padding: 8px;
    border-radius: 5px;
    // display: block;
    margin-bottom: 16px;
    margin-bottom: 1rem;
  }
}

.link-icons {
  text-align: center;
}

.link-icons a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  display: inline-block;
  height: 30px;
  width: 30px;

  &.octocat {
    background-image: url('../static/images/Octocat.png');
  }

  &.email {
    background-image: url('../static/images/email.png');
    background-size: 25px;
  }

  &:not(:first-of-type) {
    margin-left: 20px;
  }
}

// @media (min-width: $sm) {
//   .intro-wrap {
//     text-align: left;

//     img {
//       max-height: 220px;
//       max-width: 220px;
//     }
//   }
// }