.intro-things {
  margin-top: 40px;
}

img {
  max-width: 100%;
}

.intro-row {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  position: relative;

  .intro-image {
    width: 20%;

    img {
      border-radius: 50%;
    }
  }

  .intro-content {
    padding-left: 50px;
    width: 70%;
  }
}

.link-icons a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  display: inline-block;
  height: 50px;
  width: 50px;

  &.octocat {
    background-image: url('../static/images/Octocat.png');
  }

  &.email {
    background-image: url('../static/images/email.png');
    background-size: 40px;
  }

  &:not(:first-of-type) {
    margin-left: 20px;
  }
}

// @media (min-width: $sm) {
//   .intro-wrap {
//     text-align: left;

//     img {
//       max-height: 220px;
//       max-width: 220px;
//     }
//   }
// }