:global(body) {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Avenir Next,Avenir,Helvetica,sans-serif;
}
nav {
  text-align: center;
  background-color: $gray;

  ul {
    padding: 4px 16px;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  li {
    display: flex;
    padding: 10px 8px;
  }
  .right li{
    padding: 6px 8px;
  }
  a {
    color: $offwhite;
    text-decoration: none;
    font-size: 13px;
  }
}